.imagenrelativa {
  position: relative;
}
.triangulo_top_left {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 100px 100px 0 0;
  border-color: #070e8f transparent transparent transparent;
  position: absolute;
  top: 0;
  left: 0;
}
